<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codlinx - Dashboard</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css" />

    <script src="../assets/js/vue.min.js"></script>
    <script src="../assets/js/jquery-3.6.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/axios.min.js"></script>
    <script src="../assets/js/moment.min.js"></script>
</head>

<body>
    <nav class="navbar bg-light">
        <div class="container">
            <a class="navbar-brand" href="/dashboard">
                <img src="./assets/img/logo_cabecalho.png" alt="Codlinx" width="40" height="40" />
            </a>
        </div>
    </nav>

    <div class="container p-4" id="dashboard">
        <div class="col">
            <a href="../clients" class="btn btn-dark btn-sm my-2">Clientes</a>
            <a href="../projects" class="btn btn-dark btn-sm my-2">Projetos</a>
            <a href="../service_orders" class="btn btn-dark btn-sm my-2">Os</a>
            <a href="../subscriptions" class="btn btn-dark btn-sm my-2">Assinaturas</a>
            <a href="../servers/" class="btn btn-dark btn-sm my-2">Servidores</a>
            <a href="../products" class="btn btn-dark btn-sm my-2">Produtos</a>
            <a href="../billings" class="btn btn-dark btn-sm my-2">Cobranças</a>
            <a href="../protocols" class="btn btn-dark btn-sm my-2">Protocolos</a>
        </div>

        <hr />

        <div class="row" style="gap: 10px">
            <div class="col border rounded p-2" v-if="currentOs || recentsOs.length > 0">
                <div class="row" v-if="currentOs">
                    <h5>Os - Em correções</h5>
                    <div class="table-responsive">
                        <table class="table table-striped border">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Assunto</th>
                                    <th scope="col">Projeto</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Abrir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{currentOs.id}}</th>
                                    <td>{{currentOs.subject}}</td>
                                    <td>
                                        <a :href="'/projects/i?id='+currentOs.Project.id">{{currentOs.Project.name}}</a>
                                    </td>
                                    <td>
                                        <a
                                            :href="'/clients/i?id='+currentOs.Project.Client.id">{{currentOs.Project.Client.name}}</a>
                                    </td>
                                    <td>
                                        <a :href="'/service_orders/i?id='+currentOs.id"><i
                                                class="fa-solid fa-arrow-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" v-if="recentsOs.length > 0">
                    <h5>Os - Criados recentemente</h5>
                    <div class="table-responsive">
                        <table class="table table-striped border">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Assunto</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Abrir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="os of recentsOs">
                                    <th scope="row">{{os.id}}</th>
                                    <td>{{os.subject}}</td>
                                    <td>{{os.status}}</td>
                                    <td>
                                        <a :href="'/service_orders/i?id='+os.id"><i
                                                class="fa-solid fa-arrow-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col border rounded p-2" v-if="fixedProjects.length > 0">
                <h5>Projetos - Fixados</h5>
                <div class="table-responsive">
                    <table class="table table-striped border">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Abrir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="project of fixedProjects">
                                <th scope="row">{{project.id}}</th>
                                <td>{{project.name}}</td>
                                <td>{{project.type}}</td>
                                <td>
                                    <a :href="'/projects/i?id='+project.id"><i class="fa-solid fa-arrow-right"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/js/dashboard.js"></script>
</body>

</html>