<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Codlinx - Os</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <nav class="navbar bg-light">
            <div class="container">
                <a class="navbar-brand" href="/dashboard">
                    <img src="../assets/img/logo_cabecalho.png" alt="Codlinx" width="40" height="40" />
                </a>
            </div>
        </nav>

        <div class="container p-4" id="service_order">
            <div class="col">
                <a href="../clients" class="btn btn-dark btn-sm my-2">Clientes</a>
                <a href="../projects" class="btn btn-dark btn-sm my-2">Projetos</a>
                <a href="../service_orders" class="btn btn-dark btn-sm my-2">Os</a>
            </div>

            <hr />

            <h5>Os - #{{id}} | {{moment(createdAt).format('DD/MM/YYYY HH:mm')}}</h5>

            <form>
                <div class="row">
                    <div class="mb-3 col-lg">
                        <label for="subject" class="form-label">Assunto</label>
                        <input type="text" class="form-control" v-model="subject" id="subject" />
                    </div>

                    <div class="mb-3 col-lg">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" v-model="status" id="status">
                            <option disabled value="">Selecione uma opção</option>
                            <option value="Em avaliação">Em avaliação</option>
                            <option value="Em correções">Em correções</option>
                            <option value="Pendente">Pendente</option>
                            <option value="Finalizado">Finalizado</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg">
                        <label for="description" class="form-label">Descrição</label>
                        <textarea
                            type="text"
                            class="form-control"
                            v-model="description"
                            id="description"
                            rows="4"
                        ></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark">Enviar</button>

                <hr />
            </form>

            <section id="protocol" v-if="Protocol">
                <h5>Protocolo</h5>

                <div class="row">
                    <div class="col-lg">
                        <form>
                            <div class="row">
                                <div class="mb-3 col-lg">
                                    <label for="protocolStatus" class="form-label">Status</label>
                                    <select class="form-select" v-model="Protocol.status" id="protocolStatus">
                                        <option disabled value="">Selecione uma opção</option>
                                        <option value="Em aberto">Em aberto</option>
                                        <option value="Fechado">Fechado</option>
                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark">Enviar</button>
                        </form>
                    </div>
                    <div class="col-lg mt-2 border rounded p-2">
                        <ul>
                            <li>
                                <span
                                    >Total: {{(Protocol.Protocol_registers.reduce((sum, v) => sum + v.value,
                                    0)).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}
                                </span>
                            </li>
                            <li>
                                <span
                                    >Serviço: {{Protocol?.Protocol_registers?.reduce((sum, v) => (v.type == 'Serviço' ?
                                    sum + v.value : sum), 0).toLocaleString('pt-br',{style: 'currency', currency:
                                    'BRL'})}}
                                </span>
                            </li>
                            <li>
                                <span
                                    >Despesas: {{Protocol?.Protocol_registers?.reduce((sum, v) => (v.type == 'Despesa' ?
                                    sum + v.value : sum), 0).toLocaleString('pt-br',{style: 'currency', currency:
                                    'BRL'})}}
                                </span>
                            </li>
                            <li>
                                <span
                                    >Valor recebido: {{Protocol?.Receipts?.reduce((sum, v) => (sum + v.value),
                                    0).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}
                                </span>
                            </li>
                            <li>
                                <span
                                    >Valor a receber: {{(Protocol.Protocol_registers.reduce((sum, v) => (sum + v.value),
                                    0) - Protocol?.Receipts?.reduce((sum, v) => (sum + v.value),
                                    0)).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr />

                <div class="row" style="gap: 10px">
                    <div class="col border rounded p-2">
                        <h5>Registros</h5>
                        <div class="table-responsive">
                            <table class="table table-striped border">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="protocol_register of Protocol.Protocol_registers">
                                        <th scope="row">{{protocol_register.id}}</th>
                                        <td>{{protocol_register.description}}</td>
                                        <td>
                                            {{protocol_register.value.toLocaleString('pt-br',{style: 'currency',
                                            currency: 'BRL'})}}
                                        </td>
                                        <td>{{protocol_register.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col border rounded p-2">
                        <h5>Recibos</h5>
                        <div class="table-responsive">
                            <table class="table table-striped border">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Método</th>
                                        <th scope="col">Observação</th>
                                        <th scope="col">Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="receipt of Protocol.Receipts">
                                        <th scope="row">{{receipt.id}}</th>
                                        <td>
                                            {{receipt.value.toLocaleString('pt-br',{style: 'currency', currency:
                                            'BRL'})}}
                                        </td>
                                        <td>{{receipt.method}}</td>
                                        <td>{{receipt.note}}</td>
                                        <td>{{moment(receipt.createdAt).format('DD/MM/YYYY HH:mm')}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <br />
        </div>

        <script src="../assets/js/axios.min.js"></script>
        <script src="../assets/js/vue.min.js"></script>
        <script src="../assets/js/moment.min.js"></script>
        <script src="../assets/js/service_orders/i.js"></script>
    </body>
</html>
